<h3>About me</h3>
<p>
	Thanks for visiting! I'm <strong>Stanley Cen</strong>, a 12<sup>th</sup> grade student at
	Westview High School in Portland, Oregon.
</p>
<p>
	I'm passionate about computer science and am always trying to learn new things. In 3<sup>rd</sup> grade, I first started C++ and fell in love with programming. Currently, I'm proficient in more than 10 programming languages, including C++, C, C#, Java, Python, Ruby, MySQL, PHP, HTML, Javascript, CSS, and Lua.
</p>
<h3>About the site</h3>
<p>
	This website is an open-source Sinatra web application running on Ruby 1.9.3 and lives somewhere
	in the Heroku cloud. It's HTML5 and CSS3 standards compliant and is powered by lots of awesome things made by other amazing people:
	jQuery, Sass, Fontello and Fancybox.
</p>
<p>
	Check out <a href="/humans.txt">humans.txt</a>!
</p>