<h3>About</h3>
<p>
	I'm a 12<sup>th</sup> grade programming enthusiast living in Portland, Oregon.
</p>
<p>
	I love computer science and I have been programming since 3<sup>rd</sup> grade. I'm proficient in more than 10 programming languages, including C++, C, C&#9839;, Java, Python, Ruby, MySQL, PHP, HTML, Javascript, CSS, and Lua.
</p>
</p>
	I compete in programming competitions, most notably the <a href="http://usaco.org">USA Computing Olympiad</a>.
</p>
