<h3>About me</h3>
<p>
	Thanks for visiting! I'm <strong>Stanley Cen</strong>, a 12<sup>th</sup> grade student at
	Westview High School in Portland, Oregon.
</p>
<p>
	I'm passionate about computer science and am always trying to learn new things. In 3<sup>rd</sup> grade, I first started C++ and fell in love with programming. Currently, I'm proficient in more than 10 programming languages, including C++, C, C#, Java, Python, Ruby, MySQL, PHP, HTML, Javascript, CSS, and Lua. I've done projects in
	reverse engineering, computer vision, web development and mobile &amp; desktop application development.
</p>
<p>
	I have actively competed in programming contests since 9<sup>th</sup> grade and
	was invited to the <a href="http://usaco.org">USA Computing Olympiad</a> finalist camp
	my sophomore and junior years (2012 &amp; 2013).
</p>
<p>
	I also attended the 2013 <a href="http://www.cee.org/research-science-institute">Research Science Institute</a>, where I conducted research under Mr. Andrew Wang at the
	MIT Computer Science and Artificial Intelligence Lab (CSAIL).
</p>
<p>
	Outside of school and programming, I love the outdoors. I've been swimming
	competitively for 5 years and enjoy hiking, camping, and playing ultimate frisbee.
	I also like music - especially playing the piano and discovering &amp; listening to
	new songs!
</p>
<h3>About the site</h3>
<p>
	This website is an open-source Sinatra web application running on Ruby 1.9.3 and lives somewhere
	in the Heroku cloud. It's HTML5 and CSS3 standards compliant and is powered by lots of awesome things made by other amazing people:
	jQuery, Sass, Fontello and Fancybox.
</p>
<p>
	Check out <a href="/humans.txt">humans.txt</a>!
</p>