<!-- Maybe add header sized parallax here :) -->
<section id="no-masthead-img">
    <div class="parallax-wrap">
        <div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
        </div>
    </div>
</section>
<section id='content-wrap' class="blog-all">
	<div class='posts-wrap'>
		<% @posts.each do |(slug, post)| %>
			<article class='blog-masonry-post'>
				<h1><%= post.title %></h1>
				<time><%= post.created_at.strftime("%B %d, %Y") %></time>
			</article>
		<% end %>
	</div>
</section>