<!-- Maybe add header sized parallax here :) -->
<section id="no-masthead-img">
    <div class="parallax-wrap">
        <div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
        </div>
    </div>
</section>
<section class="content-wrap blog-all">
	<div class='posts-wrap body-text'>
		<% @posts.each do |(slug, post)| %>
			<div class='blog-masonry-post'>
				<div class='post-wrap'>
					<a class='wrap' href="<%= post_slug_url slug %>">
						<article>
								<div class='metadata'>
									<div>
										<h1><%= post.title %></h1>
										<time><%= post.created_at.strftime("%B %d, %Y") %></time>
									</div>
								</div>
								<div class='post-header'>
									<div class='darken-filter'></div>
								</div>
						</article>
					</a>
				</div>
			</div>
		<% end %>
	</div>
</section>