<section id="content-wrap">
    <div class="body-text">
        <%= @post.cache_full ||= format_post @post.content %>
    </div>
</section>
<style><%= @post.cache_css ||= Rouge::Theme.find('base16.solarized').render(scope: '.highlight') %></style>