<div id="blog_internal">
	<div class="header parallax">
		<h1 class="header">Blog</h1>
	</div>
	<% @posts.each do |post| %>
			<div class="content">
	        <%= erb :_post, locals: {post: post.last, abbrev: true} %>
			</div>
			<div class="controls bottom">
				<span><a class="btn read-more" href="<%= post_slug_url post.last.slug %>">Continue reading</a></span>
			</div>
	<% end %>
</div>