<section id="masthead" class="parallax-wrap">
    <div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
    <div class="parallax-content">
        <div class="blog-masthead">
            <div class>
                <h1 class="animated slideInDown"><%= @post.title %></h1>
                <h4 class="animated slideInDown"><%= @post.created_at.strftime("%B %d, %Y") %></h4>
            </div>
        </div>
    </div>
</section>
<section class="content-wrap">
    <div class="body-text">
        <%= @post.cache_full ||= format_post @post.content %>
    </div>
</section>
<style><%= @post.cache_css ||= Rouge::Theme.find('base16.solarized').render(scope: '.highlight') %></style>