<h3>Contact</h3>
<p>
	Feel free to contact me through any of the following means!
</p>
<div id="contacts">
	<div class="contact">
		<i class="icon-mail-alt" title="Email"></i>
		<span><a href="mailto:me@stanleycen.com">me@stanleycen.com</a></span>
	</div>
	<div class="contact">
		<i class="icon-github" title="Github"></i>
		<span><a href="http://github.com/scen">scen</a></span>
	</div>
	<div class="contact">
		<i class="icon-skype" title="Skype"></i>
		<span><a href="skype:priority_queue">priority_queue</a></span>
	</div>
</div>
