<section id="masthead" class='parallax-wrap'>
		<div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
		<div class="parallax-content">
			<div class="masthead-home-tagline">
				<div class>
					<h3 class="animated slideInDown"><em><%= GREETINGS.last %></em> :<span class="paren">)</span></h3>
					<h1 class="animated slideInDown">I'm <strong>Stanley</strong>, a junior@mit, intern@google, and former intern@dropbox. I build things.</h1>
				</div>
			</div>
		</div>
		<div id='scroll-notifier'>
		</div>
</section>
<section class="content-wrap" id="about">
	<div class="body-text">
		<h1>Who am I?</h1>
		<p>I'm a junior at MIT (class of 2018), and I'm passionate about computer science. I've spent the better part of my life (10+ years and counting!)
			programming, and I don't plan on slowing down anytime soon.</p>

		<p>I've explored and learned a whole lot since then. Game hacking, mobile dev, algorithms, reverse engineering, computer vision, web dev, robotics, machine learning&hellip; if you can name it,
		 I've probably (at least) dabbled in it.</p>

		 <p>Here's a (reverse) timeline of selected milestones in my life as a software engineer:</p>
	</div>
	<div class="timeline-wrap">
		<ul class="timeline">
			<li>
				<time>
					<span>
						Sophomore Year
					</span>
					<span>
						Summer '16
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Google &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on Learning Powerhouse (LPH), an internal machine learning framework.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Sophomore Year
					</span>
					<span>
						January '16
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Jane Street Capital &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on infrastructure for job scheduling.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Freshman Year
					</span>
					<span>
						Summer '15
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Dropbox &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on Dropbox's new contacts infrastructure, which stores billions of contacts. Improved search quality, aggregation, and relevance.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Freshman Year
					</span>
					<span>
						January '15
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>NASDAQ &mdash; Data Science Externship</h2>
					<span class="more">
						<p>A team of 4 fellow MIT students and I built, tested, and pipelined a statistical model using R and Python to predict customer cancellations.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						High School
					</span>
					<span>
						2010 &ndash; 2014
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Competitive programming</h2>
					<span class="more">
						<p>I was a <a href="http://usaco.org/">USA Computing Olympiad</a> finalist in <a href="http://usaco.org/index.php?page=finalists12">2012</a> and <a href="http://usaco.org/index.php?page=finalists13">2013</a>.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						High School
					</span>
					<span>
						2013
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>MIT CSAIL &mdash; Research</h2>
					<span class="more">
						<p>Conducted research on visualization strategies in collaborative temporal planning through the prestigious <a href="http://www.cee.org/news/research-science-institute-mit-hosts-81-high-school-students">Research Science Institute</a> program at the MIT Computer Science and Artificial Intelligence Laboratory.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Life
					</span>
					<span>
						2005 &ndash; now
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Learning, hacking, building, and more learning</h2>
					<span class="more">
						<p>Must. Learn. Everything. Dozens of random side projects.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						3<sup>rd</sup> grade
					</span>
					<span>
						Mar '05
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Started learning how to program</h2>
					<span class="more">
						<p>When &amp; where it all began! I taught myself by reading <i>C: How to Program</i> by Deitel.</p>
					</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="body-text">
		<p>Like what you see? I'm always looking for cool opportunities. I'd love to <a href="#contact" id='contact-hear'>hear</a> from
		you!
		</p>
		<p>Anyways, outside of that kinda stuff, I like playing the guitar, the piano, and ultimate frisbee. I have <a href="https://en.wikipedia.org/wiki/Absolute_pitch">perfect pitch</a> (1 in ~10,000 people!) and love to play things I hear on the radio by ear.
		</p>
		<p>A blurb about this website &mdash; it starts out as a Sinatra Ruby app and is pumped through a really hacky static site generator I wrote, which is then hosted on GitHub pages. Shoutout to <a href="https://unsplash.com/">Unsplash</a>, <a href="http://masonry.desandro.com/">Masonry</a>, and <a href="http://terrymun.github.io/Fluidbox/">Fluidbox</a> for doing all the hard work for me.</p>
		<div class="humanstxt">
			<a href="/humans.txt"><img src="/img/logo-humans.png"/></a>
		</div>
	</div>
</section>
<section id="contact">
	<div class="contact-img"><div class="darken-filter"></div></div>
	<div class="stuff">
		<div class="wrap">
			<div class='body-text'>
				<h1>Let's get in touch! Simply fill this out&hellip;</h1>
				<div id="contact_form">
					<form>
						<input type="hidden" name="salt" id="salt" />
						<ul>
							<li id="send-error"><span>Sorry! An error occured while sending.</span></li>
							<li>
								<input autocomplete="off" type="text" id="name" name="name" placeholder="your name" required/>
							</li>
							<li>
								<input autocomplete="off" type="email" id="email" name="email" placeholder="your email" required/>
							</li>
							<li>
								<input autocomplete="off" type="text" id="subject" name="subject" placeholder="subject" required/>
							</li>
							<li>
								<textarea autocomplete="off" id="message" name="message" placeholder="message" required></textarea>
							</li>
							<li>
								<button id="submit_message" type="submit" class="submit">Send</button><span class='thanks'>Thanks for the message!</span><span class='error'>Something went wrong! Try again?</span>
							</li>
						</ul>
					</form>
				</div>
				<h1>&hellip;or find me on&hellip;</h1>
				<ul class='more-contact'>
					<li><a href="http://github.com/scen">github</a></li>
					<li><a href="https://www.linkedin.com/in/stanleycen">linkedin</a> (i don't use it <sup><i>yet</i></sup>)</li>
					<li><a href="mailto:hello@stanleycen.com">hello@stanleycen.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>