<section id="masthead" class='parallax-wrap'>
		<div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
		<div class="parallax-content">
			<div class="masthead-home-tagline">
				<div class>
					<h3 class="animated slideInDown"><em><%= GREETINGS.last %></em> :<span class="paren">)</span></h3>
					<h1 class="animated slideInDown">i'm <strong>stanley</strong>, a junior @ mit studying music &amp; computer science.</h1>
				</div>
			</div>
		</div>
		<div id='scroll-notifier'>
		</div>
</section>
<section class="content-wrap" id="about">
	<div class="body-text">
		<h1>Who am I?</h1>
		<p>I'm a junior at the Massachusetts Institute of Technology working towards a major in Computer Science and a minor in Music.
		I've spent the better part of my life (10+ years and counting!) pursuing both passions, and I don't plan on slowing down anytime soon.</p>

		<p>I've explored and learned a whole lot since then.
		In terms of CS, I've tried just about everything I could get my hands on: game hacking, mobile dev, algorithms, reverse engineering, computer vision, web dev, robotics, machine learning, security, and distributed systems.</p>

		 <p>Here are some notable things I've accomplished as a software engineer:</p>
	</div>
	<div class="timeline-wrap">
		<ul class="timeline">
			<li>
				<time>
					<span>
						Sophomore Year
					</span>
					<span>
						Summer '16
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Google &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on Learning Powerhouse (LPH), an internal machine learning framework.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Sophomore Year
					</span>
					<span>
						January '16
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Jane Street Capital &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on infrastructure for job scheduling.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Freshman Year
					</span>
					<span>
						Summer '15
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Dropbox &mdash; Software Engineering Internship</h2>
					<span class="more">
						<p>I worked on Dropbox's new contacts infrastructure, which stores billions of contacts. Improved search quality, aggregation, and relevance.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						Freshman Year
					</span>
					<span>
						January '15
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>NASDAQ &mdash; Data Science Externship</h2>
					<span class="more">
						<p>A team of 4 fellow MIT students and I built, tested, and pipelined a statistical model using R and Python to predict customer cancellations.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						High School
					</span>
					<span>
						2010 &ndash; 2014
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Competitive programming</h2>
					<span class="more">
						<p>I was a <a href="http://usaco.org/">USA Computing Olympiad</a> finalist in <a href="http://usaco.org/index.php?page=finalists12">2012</a> and <a href="http://usaco.org/index.php?page=finalists13">2013</a>.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						High School
					</span>
					<span>
						2013
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>MIT CSAIL &mdash; Research</h2>
					<span class="more">
						<p>Conducted research on visualization strategies in collaborative temporal planning through the prestigious <a href="http://www.cee.org/news/research-science-institute-mit-hosts-81-high-school-students">Research Science Institute</a> program at the MIT Computer Science and Artificial Intelligence Laboratory.</p>
					</span>
				</div>
			</li>
			<li>
				<time>
					<span>
						3<sup>rd</sup> grade
					</span>
					<span>
						Mar '05
					</span>
				</time>
				<div class="waypoint"></div>
				<div class="label">
					<h2>Started learning how to program</h2>
					<span class="more">
						<p>When &amp; where it all began! I taught myself by reading <i>C: How to Program</i> by Deitel.</p>
					</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="body-text">
		<p>Like what you see? I'm always looking for cool opportunities. I'd love to <a href="#contact" id='contact-hear'>hear</a> from
		you!
		</p>
		<p>Anyways, outside of that kinda stuff, I really like music.
		I've played the piano for most of my life, picked up guitar in college, and just recently
		bought a ukelele! I have <a href="https://en.wikipedia.org/wiki/Absolute_pitch">perfect pitch</a> (1 in ~10,000 people!) and love to play things I hear on the radio by ear.
		I've also recently become really interested in music theory and compsition!
		</p>
		<p>
		I also like to take pictures from time to time. I shoot on a Nikon D5500 with a 35mm f/1.8 prime and 18-55mm f/3.5 zoom, as well
		as Galaxy S6. I love the idea of using photos to capture memories forever, and I've
		had a lot of fun improving upon what I learned in my high school photography class.
		I hope to upload my photos onto the internet sometime in the future.
		</p>
		<div class="humanstxt">
			<a href="/humans.txt"><img src="/img/logo-humans.png"/></a>
		</div>
	</div>
</section>
<section id="contact">
	<div class="contact-img"><div class="darken-filter"></div></div>
	<div class="stuff">
		<div class="wrap">
			<div class='body-text'>
				<h1>Let's get in touch! Simply fill this out&hellip;</h1>
				<div id="contact_form">
					<form>
						<input type="hidden" name="salt" id="salt" />
						<ul>
							<li id="send-error"><span>Sorry! An error occured while sending.</span></li>
							<li>
								<input autocomplete="off" type="text" id="name" name="name" placeholder="your name" required/>
							</li>
							<li>
								<input autocomplete="off" type="email" id="email" name="email" placeholder="your email" required/>
							</li>
							<li>
								<input autocomplete="off" type="text" id="subject" name="subject" placeholder="subject" required/>
							</li>
							<li>
								<textarea autocomplete="off" id="message" name="message" placeholder="message" required></textarea>
							</li>
							<li>
								<button id="submit_message" type="submit" class="submit">Send</button><span class='thanks'>Thanks for the message!</span><span class='error'>Something went wrong! Try again?</span>
							</li>
						</ul>
					</form>
				</div>
				<h1>&hellip;or find me on&hellip;</h1>
				<ul class='more-contact'>
					<li><a href="http://github.com/scen">github</a></li>
					<li><a href="https://www.linkedin.com/in/stanleycen">linkedin</a></li>
					<li><a href="mailto:hello@stanleycen.com">hello@stanleycen.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>