<div class="quote">
	<p class="quote">
		<strong><%= GREETINGS.sample %></strong>
	</p>
	<p class="quote">
		I'm a high school senior and computer science enthusiast living in Portland, Oregon.
	</p>
	<p class="quote">
		I love <em>making stuff</em> and here you'll find my projects and the stories behind them.
	</p>
</div>
<div class="latest">
	<h1>Latest blog post</h1>
	<div class="inner"><%= erb :_post, locals: {post: Post.all.first.last, abbrev: true} %></div>
</div>