<div class="quote">
	<p class="quote">
		<strong><%= GREETINGS.sample %></strong>
	</p>
	<p class="quote">
		I'm a high school senior and computer science enthusiast living in Portland, Oregon.
	</p>
	<p class="quote">
		I love <em>making stuff</em> and here you'll find my projects and the stories behind them.
	</p>
</div>
<!-- <p>
	I occasionally blog about my life, projects I've worked on, and new things I've learned. Have a look around!
</p>-->
<!-- <h2>Featured posts from the blog</h2> -->