#home {
  background: url(/parallax.jpg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

body {
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: blue;
  z-index: 10000;
}

#home-shoutout {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: "Open Sans";
  div {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    h1 {
      margin: 0;
      font-size: 50px;
    }
    h3 {
      margin-top: 30px;
      font-weight: 300;
      font-size: 25px;
    }
  }
}

#scroll-notifier {
  position: absolute;
  z-index: 10000;
  bottom: 10px;
  text-align: center;
  margin: 0 auto !important;
  width: 100%;
  height: 29px;
  background: url(scroll.png) no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
  animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}

@-webkit-keyframes bounce-fade {
  0%   { opacity: 0; bottom: 80px; }
  100% { opacity: 1; bottom: 10px; }
}
@-moz-keyframes bounce-fade {
  0%   { opacity: 0; bottom: 80px; }
  100% { opacity: 1; bottom: 10px; }
}
@-o-keyframes bounce-fade {
  0%   { opacity: 0; bottom: 80px; }
  100% { opacity: 1; bottom: 10px; }
}
@keyframes bounce-fade {
  0%   { opacity: 0; bottom: 80px; }
  100% { opacity: 1; bottom: 10px; }
}

header {
  @media screen and (max-width: 46.875em) {
    nav > a {
      width: 90px !important;
    }
  }
  @media screen and (max-width: 40.625em) {
    nav > a {
      display: none !important;
    }
    & {
      text-align: center;
    }
    h1 {
      float: none !important;
    }
    .navicon-button {
      display: block !important;
      float: left;
      position: absolute;
      width: 60px;
      height: 52px;
      cursor: pointer;
      .navicon {
        position: relative;
        width: 2em;
        height: .3125rem;
        background: #898989;
        border-radius: 2.5rem;
        display: block;
        position: absolute;
        margin-top: 26px;
        margin-left: 13px;

        &:after, &:before {
          display: block;
          content: "";
          height: .3125rem;
          width: 2em;
          background: #898989;
          position: absolute;
          z-index: 100;
          border-radius: 1rem;
        }
        &:after { top: -.625rem; }
        &:before { top: .625rem; }
      }
      &:hover {
        transition: .5s;
        background: #bcbcbc;
        .navicon:after { top: -.75rem !important; }
        .navicon:before { top: .75rem !important; }
      }
    }
  }
  font-family: "Open Sans";
  background-color: #F9F9F9;
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  box-shadow: #777 0px 0px 7px 0px;
  .navicon-button {
    display: none;
  }
  h1 {
    display: block;
    float: left;
    margin: 0 auto;
    a {
      font-weight: bold;
      font-size: 24px;
      width: 100%;
      display: block;
      // border-top: 4px solid #EAEAEA;
      float: left;
      color: #565656;
      text-decoration: none;
      padding: 0px 16px;
    }
  }
  nav {
    float: right;
    a {
      font-size: 18px;
      display: block;
      float: left;
      width: 110px;
      text-align: center;
      color: #333344;
      text-decoration: none;
      // border-top: 4px solid;
      @mixin menu-item($theta) {
        color: hsl($theta, 50%, 65%);
        // border-top: 4px solid hsl($theta, 40%, 70%);
        // &.selected {
        //   border-bottom: 2px solid hsl($theta, 40%, 70%) !important;
        // }
        &:hover, &:focus {
          color: hsl($theta, 100%, 100%);
          box-shadow: inset 0 52px hsl($theta, 50%, 75%);
          -webkit-transition: all 100ms ease-in-out;
          -moz-transition: all 100ms ease-in-out;
          -ms-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
        }
      }
      &.blog {
        @include menu-item(0);
      }
      &.projects {
        @include menu-item(72);
      }
      &.github {
        @include menu-item(144);
      }
      &.about {
        @include menu-item(216);
      }
      &.contact {
        @include menu-item(288);
      }
    }
  }
}

#content {
  padding-top: 0;
}

span.highlight {
  color: #69A6FF;
}

#mission {
  // background-color: #35537F;
  .inner {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    h1 {
      margin: 0 auto;
      padding-top: 80px;
      padding-bottom: 80px;
      color: #292929;
      font-family: "Open Sans";
      font-size: 25px;
      font-weight: 300;
    }
  }
}

#blog-recent {
  div.header {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background: url(/parallax.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-attachment: fixed;
    background-size: cover;
    h1.header {
      margin: 0 auto;
      color: #2f2f2f;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 50px;
    }
  }
}

$timeline: #ddd;
$timeline_pt: #69A6FF;

$timeline_line_col: #afdcf8;
$timeline_time_top_col: #bdd0db;
$timeline_time_bot_col: #3594cb;
$timeline_label_background_col: #3595cb;
$timeline_label_background_col_even: #6cbfee;
$timeline_collapse_width: 46em;

#about {
  font-family: "Open Sans";
  div.header {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background: url(/parallax1.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-attachment: fixed;
    background-size: cover;
    h1.header {
      margin: 0 auto;
      color: #fff;
      font-weight: 300;
      font-size: 50px;
    }
  }
  div.content {
    font-weight: 300;
    margin-top: 30px;
    // @media screen and (max-width: 850px) {
    //   div.right, div.left {
    //     float: none !important;
    //     width: 100% !important;
    //   }
    // }
    div.right {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 20px;
      width: 50%;
      div.content {
        width: 90%;
        margin: 0 auto;
      }
    }
    div.left {
      width: 100%;
      div.wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 55em;
        @media screen and (max-width: $timeline_collapse_width) {
          ul.timeline {
            margin: 0 auto !important;
            &:before {
              display: none;
            }
            time {
              width: 100% !important;
              position: relative !important;
              padding: 0 0 20px 0 !important;
              span {
                text-align: left !important;
              }
            }
            li {
              &:nth-child(even) {
                div.label::after {
                  border-bottom-color: $timeline_label_background_col_even !important;
                }
              }
              div.label {
                margin: 0 0 30px 0 !important;
                padding: 1em !important;
                font-size: 95% !important;
                &:after {
                  right: auto !important;
                  left: 20px !important;
                  border-right-color: transparent !important;
                  border-bottom-color: $timeline_label_background_col !important;
                  top: -20px !important;
                }
              }
              div.waypoint {
                position: relative !important;
                float: right !important;
                left: auto !important;
                margin: -55px 5px 0 0 !important;
              }
            }
          }
        }
        ul.timeline {
          padding: 0;
          margin: 0;
          list-style: none;
          position: relative;
          // Line
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            background: $timeline_line_col;
            left: 20%;
            margin-left: -10px;
          }
          li {
            position: relative;
            &:nth-child(even) {
              time > span:last-child {
                color: $timeline_label_background_col_even;
              }
              div.label {
                background-color: $timeline_label_background_col_even;
                &:after {
                  border-right-color: $timeline_label_background_col_even;
                }
              }
            }
            time {
              display: block;
              width: 25%;
              position: absolute;
              span {
                display: block;
                padding-right: 90px;
                text-align: right;
                &:first-child {
                  font-size: 0.9em;
                  color: $timeline_time_top_col;
                }
                &:last-child {
                  font-weight: 400;
                  font-size: 1.5em;
                  @media screen and (max-width: 55em) {
                    font-size: 1em;
                  }
                  color: $timeline_time_bot_col;
                }
              }
            }
            div.label {
              margin: 0 0 15px 25%;
              background: $timeline_label_background_col;
              color: #fff;
              padding: 1.2em;
              font-size: 1.2em;
              font-weight: 300;
              line-height: 1.4;
              position: relative;
              border-radius: 5px;
              h2 {
                margin: 0;
                padding: 0 0 10px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
              }
              &:after {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-right-color: $timeline_label_background_col;
                border-width: 10px;
                top: 10px;
              }
            }
            div.waypoint {
              width: 40px;
              height: 40px;
              line-height: 40px;
              position: absolute;
              color: #fff;
              background: #46a4da;
              border-radius: 50%;
              box-shadow: 0 0 0 8px $timeline_line_col;
              text-align: center;
              left: 20%;
              top: 0;
              margin: 0 0 0 -25px;
            }
          }
        }
      }
    }
  }
}

#contact {
  font-family: "Open Sans";
  div.header {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background: url(/parallax.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-attachment: fixed;
    background-size: cover;
    h1.header {
      margin: 0 auto;
      color: #2f2f2f;
      font-weight: 300;
      font-size: 50px;
    }
  }
}

