---
title: Hikes
---

<section id="masthead" class="parallax-wrap">
    <div class="parallax-img masthead-parallax-img hikes-masthead"><div class="darken-filter lessless"></div></div>
    <div class="parallax-content">
        <div class="blog-list-masthead">
            <div class>
                <h1 class="">hikes.</h1>
                <h4 class=""><em>trip reports from my backpacking &amp; camping adventures</em></h3>
            </div>
        </div>
    </div>
</section>
<section class="content-wrap blog-all">
    <%= partial(:list_hike_posts) %>
</section>