---
title: null
nav: home
header_img: /img/home/header2.jpg
---

<section id="masthead" class='parallax-wrap'>
    <div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
    <div class="parallax-content">
      <div class="masthead-home-tagline">
        <div>
          <h1 class="animated slideInDown">Hi, I&rsquo;m Stanley.</h1>
          <h3 class="animated slideInDown"><em>(music, the outdoors, photography, life)</em></h3>
        </div>
      </div>
    </div>
</section>
<section class="content-wrap" id="about">
  <div class="body-text">
    <h1>Who am I?</h1>
    <p>
    I'm a senior at the Massachusetts Institute of Technology, working towards a major in Computer Science
    with a minor in Music (concentrating in theory &amp; composition).
    </p>

    <p>
    <b>Music keeps me sane&hellip;</b> I've played the piano for most of my life,
    and I love to improvise. I'm currently trying to learn to
    incorporate more jazz elements into my playing.
    Sometimes, I <a href="#">arrange</a> or <a href="#">compose</a> music.
    Other times, I noodle around on my guitar or ukelele.
    </p>

    <p class>
    <b>&hellip;but what I love most is exploring the outdoors.</b>
    I'm addicted. There's nothing more satisfying and liberating than
    being out in the wilderness, relying on nothing but the contents of my backpack.
    I recently started a <a href="/hikes">trip journal</a>. It's mostly
    to help me keep track of everything, but I hope others find it useful!
    </p>
    <p class="no-margin-bottom">
    I have a lot of stuff on my bucket list. One day I hope to hike the John Muir Trail.
    I hope to climb a mountain. I hope to hike to Everest Base Camp.
    </p>
  </div>
</section>
<section id="divider" class='parallax-wrap'>
  <div id="divide-img"></div>
</section>
<section class="content-wrap" id="about2">
  <div class="body-text">
    <p>
    <b>I also like to take pictures from time to time.</b>
    I shoot on a Sony A6000 mirrorless with a Sony 35mm f/1.8 prime, (vintage) Minolta 50mm f/1.4 prime, and a Rokinon 12mm f/2.0 prime.
    I love the idea of using photos to capture memories &amp; moments forever, and
    I've had a lot of fun improving upon what I learned in my high school photography class.
    All the photos on this website were taken by me.
    </p>
    <p class="no-margin-bottom">
    I hope to blog about my adventures and post tons of pictures.
    </p>
  </div>
</section>
<section id="divider2" class='parallax-wrap'>
  <div id="divide-img2"></div>
</section>
<section class="content-wrap">
  <div class="body-text">
    <p><b>Computers are pretty cool too.</b> Below is some things I've done.
    Contact me if you want my resume.</p>
  </div>
  <div class="timeline-wrap">
    <ul class="timeline">
      <li>
        <time>
          <span>
            Junior Year
          </span>
          <span>
            Summer '17
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Facebook &mdash; Software Engineering Internship</h2>
          <span class="more">
            <p>I worked on improving internal testing infrastructure.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            Sophomore Year
          </span>
          <span>
            Summer '16
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Google &mdash; Software Engineering Internship</h2>
          <span class="more">
            <p>I worked on an internal machine learning framework on the SearchAds team.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            Sophomore Year
          </span>
          <span>
            January '16
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Jane Street Capital &mdash; Software Engineering Internship</h2>
          <span class="more">
            <p>I worked on infrastructure for job scheduling.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            Freshman Year
          </span>
          <span>
            Summer '15
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Dropbox &mdash; Software Engineering Internship</h2>
          <span class="more">
            <p>I worked on Dropbox's new contacts infrastructure, which stores billions of contacts. Improved search quality, aggregation, and relevance.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            Freshman Year
          </span>
          <span>
            January '15
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>NASDAQ &mdash; Data Science Externship</h2>
          <span class="more">
            <p>A team of 4 fellow MIT students and I built, tested, and pipelined a statistical model using R and Python to predict customer cancellations.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            High School
          </span>
          <span>
            2010 &ndash; 2014
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Competitive programming</h2>
          <span class="more">
            <p>I was a <a href="http://usaco.org/">USA Computing Olympiad</a> finalist in <a href="http://usaco.org/index.php?page=finalists12">2012</a> and <a href="http://usaco.org/index.php?page=finalists13">2013</a>.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            High School
          </span>
          <span>
            2013
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>MIT CSAIL &mdash; Research</h2>
          <span class="more">
            <p>Conducted research on visualization strategies in collaborative temporal planning through the prestigious <a href="http://www.cee.org/news/research-science-institute-mit-hosts-81-high-school-students">Research Science Institute</a> program at the MIT Computer Science and Artificial Intelligence Laboratory.</p>
          </span>
        </div>
      </li>
      <li>
        <time>
          <span>
            3<sup>rd</sup> grade
          </span>
          <span>
            Mar '05
          </span>
        </time>
        <div class="waypoint"></div>
        <div class="label">
          <h2>Started learning how to program</h2>
          <span class="more">
            <p>When &amp; where it all began! I taught myself by reading <i>C: How to Program</i> by Deitel.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
<section id="contact">
  <div class="contact-img"><div class="darken-filter"></div></div>
  <div class="stuff">
    <div class="wrap">
      <div class='body-text'>
        <h1>Drop me a line! Just fill this out&hellip;</h1>
        <div id="contact_form">
          <form>
            <input type="hidden" name="salt" id="salt" />
            <ul>
              <li id="send-error"><span>Sorry! An error occured while sending.</span></li>
              <li>
                <input autocomplete="off" type="text" id="name" name="name" placeholder="your name" required/>
              </li>
              <li>
                <input autocomplete="off" type="email" id="email" name="email" placeholder="your email" required/>
              </li>
              <li>
                <input autocomplete="off" type="text" id="subject" name="subject" placeholder="subject" required/>
              </li>
              <li>
                <textarea autocomplete="off" id="message" name="message" placeholder="message" required></textarea>
              </li>
              <li>
                <button id="submit_message" type="submit" class="submit">Send</button><span class='thanks'>Thanks for the message!</span><span class='error'>Something went wrong! Try again?</span>
              </li>
            </ul>
          </form>
        </div>
        <h1>&hellip;or find me on&hellip;</h1>
        <ul class='more-contact'>
          <li><a href="http://github.com/scen">github</a></li>
          <li><a href="https://www.linkedin.com/in/stanleycen">linkedin</a></li>
          <li><a href="mailto:hello@stanleycen.com">hello@stanleycen.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>